* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

button {
   cursor: pointer;
   font-size: 1rem;
}

h1 {
   font-size: 3rem;
   color: var(--colorWhite);
   font-family: 'Orbitron', sans-serif;
   text-shadow: 0 0 20px var(--colorPrimary);
   ;
   
}

:root {
   --colorBlack: #0d0d0d;
   --colorWhite: #ffffff;
   --colorPrimary: #00ffcc;
   --colorSecondary: #ff007f;
   --colorHover: #00cc99;
   --colorText: #ffffff;
   --colorBackground: #121212;

}

/* Windows */

.windows {
   height: 90vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;

   background-color: var(--colorBackground);
}

/* Calculator */

.calculator {
   padding: 20px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   border-radius: 10px;
   border: 2px solid var(--colorPrimary);
   background-color: var(--colorBlack);
   box-shadow: 0 0 20px var(--colorPrimary);
}

.calculator_screenContainer {
   width: 600px;
   height: 150px;
   display: flex;
   flex-direction: column;
   gap: 5px;
   border-radius: 10px;
   border: 1px solid var(--colorSecondary);
   background-color: #1a1a1a;
}

.calculator_buttonsContainer {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.calculator_screenContainer-operator,
.calculator_screenContainer-result {
   padding-inline: 20px;
   flex: 1;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.operatorPara {
   font-size: 2rem;
   color: var(--colorWhite);
}

.resultPara {
   font-size: 3rem;
   color: var(--colorPrimary);
}

.button_section {
   display: flex;
   gap: 5px;
}

.bigButton,
.smallButton {
   height: 50px;
   flex: 1;
   background-color: var(--colorSecondary);
   color: var(--colorText);
   border: none;
   border-radius: 5px;
   transition: background-color 0.3s, transform 0.1s;
}

.bigButton:hover,
.smallButton:hover {
   background-color: var(--colorHover);
   transform: scale(1.05);
}

/* Footer */
.footer {
   height: 10vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--colorText);
   background-color: var(--colorBackground);
   box-shadow: 0 0 20px var(--colorPrimary);
}
